.navbar .profile-image{
    margin: -10px 0px;
    height: 40px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 50px;
    padding-top: 0;
}

.navbar-nav {
  color: #327a2c !important;
}

.dropdown-menu {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 6px -6px #999 !important;
}

.dropdown-menu > li > a {
  height: 25px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 4px 4px -6px #999;
}

div.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 5 5px 15px rgba(0,0,0,0);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

input.form-control,input.form-control:focus {
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}
