@import models.auth.User
@(user: Option[User], users: List[User])(implicit request: RequestHeader)

@main("Admin", user){Html("")}{
    <ul class="list-group">
        @for(u <- users){
            <li class="list-group-item" ><a href=@routes.AuthController.user(u.username)>@u.username <span class="badge">@u.role</span></a></li>
        }
    </ul>
}