@import models.auth.User
@(user: Option[User], note: Note)(implicit request: RequestHeader)

@main(note.title, user){
    <script src="@routes.Assets.versioned("javascripts/note.js")" type="text/javascript"></script>
}{
    <br>
    <br>
    <br>

    <h5>categories: </h5>
    <article>
    @Html(note.html)
    </article>
    <br>
    <br>
    <span class="glyphicon glyphicon-edit"></span>
}
