@import models.auth.User
@(user: Option[User])(implicit messages: Messages, request: RequestHeader)

@main("Post", user) {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/tinymce/tinymce.min.js")" xmlns="http://www.w3.org/1999/html"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/input.css")">
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/input.js")"></script>
} {
    <br>
    <form id="get-data" method="post">
        <input type="text" class="form-control" id="title" placeholder="Title">
        <br>
        <textarea hidden id="textArea" title="Hello World">Start typing here</textarea>
        <button hidden name="submitbtn"></button>
    </form>
    <br>
    <input type="button" class="btn btn-default" id="preview" value="Live Preview">
    <br>
    <br>
    <br>
    <br>
    <div id="data-container" style="display:none;">
    </div>
}