@import models.auth.User
@(user: Option[User])(implicit messages: Messages, request: RequestHeader)

@main("Upload", user){
    <script src="@routes.Assets.versioned("javascripts/profile.js")" type="text/javascript"></script>
} {

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Account Details</h1>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-6">
      @defining("https://s3-ap-southeast-2.amazonaws.com/marcusbucketsresizedimages/images/" + user.get.username + ".jpg"){profilePic =>
            <img src=@profilePic onError="imgProfileError(this)" text-align=center class="img-responsive">
      }
    </div>
    <div class="col-md-6">
      @helper.form(action = helper.CSRF(routes.IOController.postUpload()), 'enctype -> "multipart/form-data", 'id -> "data") {
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <a href="#" id="change-picture">Change profile picture</a>
            <input type="file" name="picture" id="picture" style="display:none">
          </div>
        </div>
      }
    <br><br>
    <!--@helper.form(action = routes.AuthController.update(), 'class -> "form-horizontal", 'id -> "update") {-->
    <div class="form-horizontal">
      <div class="form-group">
        <label for="username" class="control-label col-xs-3">Username</label>
        <div class="col-xs-6"><input type="text" class="form-control" id="username" placeholder="@user.map(_.username)"></div>
      </div>
      <div class="form-group">
        <label for="firstName" class="control-label col-xs-3">First Name</label>
        <div class="col-xs-6"><input type="text" class="form-control" id="firstName" placeholder="@user.map(_.firstName)"></div>
      </div>
      <div class="form-group">
        <label for="lastName" class="control-label col-xs-3">Last Name</label>
        <div class="col-xs-6"><input type="text" class="form-control" id="lastName" placeholder="@user.map(_.lastName)"></div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="control-label col-xs-3">Phone Number</label>
        <div class="col-xs-6"><input type="text" class="form-control" id="phoneNumber" placeholder="@user.map(_.phoneNumber)"></div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label col-xs-3">Email Address</label>
        <div class="col-xs-6"><input type="text" class="form-control" id="email" placeholder="@user.map(_.email)"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-3">
          <button id="update-details" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    <!--}-->
    </div>
</div>
}
