@import models.auth.User
@(user: Option[User])(implicit messages: Messages, request: RequestHeader)

@main("Natures Organics", user) {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/search.css")">
  <script src="@routes.Assets.versioned("javascripts/search.js")" type="text/javascript"></script>
} {
<br><br><br><br><br>
  <div class="row">
    <header>
      <div class="col-lg-6 col-lg-offset-3">
        <img class=".img-responsive" src="/assets/images/natures-organics.png">
        <div class="input-group">
          <input type="text" id = "search-type" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button id = "search-btn" class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
        <br>
        <ul id="results" class="list-group"></ul>
      </div>
    </header>
  </div>
}
