@import models.auth.User
@(user: Option[User], userProfile: Option[User])(implicit request: RequestHeader)

@main("User Profile", user){
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/user.js")"></script>
} {
    <h2 id="user">@userProfile.map(_.username).getOrElse("Default")</h2>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="roles-menu" type="button" data-toggle="dropdown">
            @if(userProfile.isDefined){
                @userProfile.get.role.capitalize
            } else {
                guest
            }
            <span class="caret"></span>
        </button>
        <ul id="roles" class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li class="dropdown-list" role="presentation"><a role="menuitem" tabindex="-1" href="#">Guest</a></li>
            <li class="dropdown-list" role="presentation"><a role="menuitem" tabindex="-1" href="#">Operator</a></li>
            <li class="dropdown-list" role="presentation"><a role="menuitem" tabindex="-1" href="#">Maintenance</a></li>
            <li class="dropdown-list" role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button id="update-role" class="btn btn-success disabled"> Save</button>
    </div>
}
